.grid {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "section article article aside"
    "footer footer footer aside";
    grid-gap: 10px;
}

.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px;
    min-height: 50px;
}
.header {
    grid-area: header;
}


.aside {
    grid-area: aside;
}

.article {
    grid-area: article;
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
}